{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Generated Icons Page</title>
        <link href="{% static '/favigen/css/generated-icon.css' %}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>
    <body>
        <main>
            <div class="container1">
                <div class="container2" id="container2">
                    <div class="header">
                        <div class="logo">
                            <img src="{% static '/favigen/img/faviGen_Logo.png' %}" alt="logo" />
                        </div>
                        <div class="nav-menu">
                            <nav class="nav">
                                <a class="a" href="#">Home</a>
                                <a class="a" href="#">Contact Us</a>
                                <a class="a" href="#">Saved Icons</a>
                                <a class="a" href="#">Generate</a>
                                {% if user.is_authenticated %}
                                    <a class="a" href="{% url 'fav:logout' %}">Log Out</a>
                                {% else %}
                                    <a class="a" href="{% url 'fav:login' %}">Sign In</a>
                                {% endif %}
                            </nav>
                        </div>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="generate2">
                        <button class="btn_generate2" type="submit">GitLab</button>
                        <button class="btn_saved2" type="submit">Saved</button>
                    </div>
                    <div class="git1">
                        <i class="fa fa-gitlab" id="fa"></i>
                        <p class="git1_p">GitLab</p>
                    </div>
                </div>

                <div class="emb_code">
                    <p class="emb_code1">Embedded Code</p>
                    <p class="emb_code2"> 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptate magni
                        architecto quod eveniet, aspernatur quaerat ducimus facilis aperiam rem vitae commodi
                        illo error distinctio mollitia inventore dolores! Corrupti, saepe. 
                    </p> 

                {% comment %} <input type="" size >  {% endcomment %}
                    <button class="emb_code3" type="button">Download</button>
                </div>
            </div>
        </main>
        <script src="{% static '/favigen/js/saved-icons.js' %}"></script>
    </body>
</html>
