{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Generate Icons Page</title>
        <link href="{% static '/favigen/css/index.css' %}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
  </head>
  <body>
    <div class="navdiv">
    </div>
      <div class="div2">
        <div class="div2a">
          <button class="generate">
            <a class="button_generate" href="index.html">Generate</a>
          </button>
          <button class="button_saved">Saved icons</button><br />
        </div>
        <br /><br />

        <div class="div2b">
          <label class="labelproject" for="Project name">Project name</label>
          <input size="50" placeholder="git lab" type="textarea" class="inputgit" />
        </div>
      </div>

    <section>
      <div class="file">
        <img src="Vector.png" alt="" />
        <p class="drag">
          Drag and drop your files here <br /><span>OR</span> <br />
        </p>
        <button>click here to upload.</button>
        <input type="file" hidden />
        <script src="{% static '/favigen/js/index.js' %}"></script>
      </div>

      <div class="div3">
        <div class="div3a">
          <p class="text1"><b>Or Add text here</b></p>
        </div><br>
        <div class="div3b"><input class="place" type="textarea" size="30" /></div>
      </div>
      <br />

      <div class="div4">
        <input class="check" type="checkbox" />
        <label for="Code">Generate Embedded Html code</label>
      </div>
      <br /><br />

      <div class="div5">
        <button class="button1"><a href="#">Generate</a></button>
      </div>
    </section>
  </body>
</html>
