{% extends 'favigen/base.html' %}

{% load static %}

{% block content %}

<main>
 <div class="container">
    <div class="container__wrapper__one">
        <div class="parent">
            <div class="display">
               <div class="child">
                  <img src="{% static '/favigen/img/faviGen_Logo.png' %}" alt="logo"  />
               </div>
            </div>
               <div class="child1">
                  <p>FaviGen</p>
               </div>
            </div>
            <div class="balance">
               <div class="child2">
                  A powerful yet easy to use 
                  Favicons generator for your Favicons
               </div>
            </div>
            <div class="show">
               <img src="{% static '/favigen/img/show.png' %}" alt="show" width="180px" height="150px" />
            </div>
         </div>
    </div>
    <div class="container__wrapper__two parent2">
       <h5>Don't have an account? Sign up</h5>
       <div class="login_container">
       <form>
        <!--   con = Container  for items in the form-->
        <div class="con">
        <!--     Start  header Content  -->
        
           <h2 class="log">Log In</h2>
           <!--     A welcome message or an explanation of the login form -->
        
        <!--     End  header Content  -->
        <br>
        <div class="field-set">
          
           <!--   user name -->
           <div class="wrap">
              <span class="input-item">
                <!-- <i class="fa fa-user-circle"></i> -->
              </span>
             <!--   user name Input-->
              <input class="form-input" id="txt-input" type="text" placeholder="Email" required>
            </div>
           <br>
   
                <!--   Password -->
                <div class="wrap">
                  <span class="input-item">
                    <!-- <i class="fa fa-key"></i> -->
                  </span>
                         <!--   Password Input-->
      
                  <input class="form-input" id="txt-input" type="password" id="pwd" placeholder="password" required>
                   
                <!--show/hide password  -->
                  <span class="input-item">
                     <!-- <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i> -->
                  </span>
                </div>
                <p class="text">Forget password?</p>
    
          
           <br>
         <!--        buttons -->
         <!--      button LogIn -->
           <button class="log-in"> Log In </button>
        </div>
         <!--   other items -->
        <div class="other">
         <!--      Forgot Password -->
          <hr/>
          <span class="hr_text">Or login with</span>
          <div class="icons">
          <span class="shadow">
           <img src="{% static '/favigen/img/facebook.svg' %}" alt="facebook"/>
         </span>
            <span class="shadow">
               <img src="{% static '/favigen/img/twitter.svg' %}" alt="twitter"/>
            </span>
            <span class="shadow">
               <img src="{% static '/favigen/img/google.svg' %}" alt="google"/> 
            </span>
          </div>
         <!--      End Other the Division -->
        </div>
          
         <!--   End Conrainer  -->
       </div>
       
       <!-- End Form -->
     </form>
   </div>

</main>

{% endblock %}