{% extends 'favigen/base.html' %} 

{% load static %} 

{% block content %}

<main>
    <div class="container1">
        <!--left1 division-->
        <div class="left1">
            <!-- logo -->
            <a href="#">
                <div class="logo">
                    <!--<img src="{% static '/favigen/img/logo.svg' %}" width="30" class="d-inline-block align-top" alt="logo" />-->
                </div>
            </a>

            <p class="v8_79">FaviGen</p>
            <br />
            <div class="FaviGenContent">
                <span class="v8_80">A powerful yet easy to use Favicons generator for your Favicons</span>
            </div>

            <!--base image-->
            <img class="logo4" src="{% static '/favigen/img/logo 4.png' %}" />
            <p class="v8_81">Version 1.0</p>

            <!--left1 division end-->
        </div>

        <!--right division-->
        <!-- <div class="right"> -->
            <!--form begin-->
            
            <div class="right"> 
                 <span class="v8_53"><a href="{% url 'fav:signup' %}">Don't have an account? Sign up</a> </span>
           
            <form action="{% url 'fav:login' %}" method="POST" name="login" id="signin">

                {% csrf_token %}

                <!--   con = Container  for items in the form-->
                <div class="con">
                    <!--     Start  header Content  -->

                    <h2 class="log">Log In</h2>
                    <!--     A welcome message or an explanation of the login form -->

                    <!--     End  header Content  -->
                    <br />
                    <div class="field-set">
                        <!--   user name -->
                        <div class="details">
                       
                            <!--   user name Input-->
                            {{ login_form.email }}
                            <img
                                src="{% static '/favigen/img/icon-error.svg' %}"
                                alt="error-icon"
                                class="error-icon"
                            />
                            <p class="error-text">Looks like this is not an email</p>
                        </div>
                       

                        <!--   Password -->
                        <div class="details">
                          

                            <!--   Password Input-->
                            {{ login_form.password }}
                            <img
                                src="{% static '/favigen/img/icon-error.svg' %}"
                                alt="error-icon"
                                class="error-icon"
                            />
                            <p class="error-text">Password cannot be empty</p>

                            <!--show/hide password  -->
                            <p class="text">Forget password?</p>
                        </div>
                        

                        <br />
                        <!--        buttons -->
                        <!--      button LogIn -->
                       
                    </div>
                    <button class="log-in" type="submit">Log In</button>
                    <!--   other items -->
                    <div class="other">
                        <!--      Forgot Password -->
                        <hr />
                        <span class="hr_text">Or login with</span>
                        <hr/>
                       <!--social media icons-->
                <div class="social-icon">
                    <span>
                        <img src="{% static '/favigen/img/facebook.svg' %}" alt="facebook" />
                    </span>
                    <span>
                        <img src="{% static '/favigen/img/twitter.svg' %}" alt="twitter" />
                    </span>
                    <span>
                        <img src="{% static '/favigen/img/google.svg' %}" alt="google" />
                    </span>
                </div>
                        <!--      End Other the Division -->
                    </div>

                    <!--   End Conrainer  -->
                </div>

                <!-- End Form -->
            </form>
        </div>
        </div>
    </div>
</main>

{% endblock %}