{% extends 'favigen/base.html' %} 

{% load static %} 

{% block content %}

<main>
    <div class="container1">
        <!--left1 division-->
        <div class="left1">
            <!-- logo -->
            <a href="/">
                <div class="logo">
                    <!--<img src="{% static '/favigen/img/logo.svg' %}" width="30" class="d-inline-block align-top" alt="logo" />-->
                </div>
            </a>

            <p class="v8_79">FaviGen</p>
            <br />
            <div class="FaviGenContent">
                <span class="v8_80">A powerful yet easy to use Favicons generator for your Favicons</span>
            </div>

            <!--base image-->
            <img class="logo4" src="{% static '/favigen/img/logo 4.png' %}" />
            <p class="version">Version 1.0</p>

            <!--left1 division end-->
        </div>

        <!--right division-->
        <div class="login_right">
            <form action="{% url 'fav:login' %}" method="POST" name="login" id="signin">
                {% csrf_token %}

            <!--form begin-->
                <!--<div class="head5">-->

                    <!--     Start  header Content  -->
                    <a href="{% url 'fav:signup' %}">
                        <!--     A welcome message or an explanation of the login form -->
                        <span class="signup_path">Don't have an account? Sign up</span>
                    </a>
                <!--</div>-->

                <h2 class="login_head">Log in</h2>

                    <!--     End  header Content  -->

                <!-- Input content -->
                <div class="details">
                    <!--   email Input-->
                    {{ login_form.email }}
                    {% comment %} <input
                        class="form-input"
                        id="txt-input"
                        type="text"
                        placeholder="Email"
                        required
                    /> {% endcomment %}
                    <img
                        src="{% static '/favigen/img/icon-error.svg' %}"
                        alt="error-icon"
                        class="error-icon"
                    />
                    <p class="error-text">Looks like this is not an email</p>
                </div>

                <div class="details">
                    <!--   Password Input-->
                    {{ login_form.password }}
                    {% comment %} <input
                        class="form-input"
                        id="txt-input2"
                        type="password"
                        placeholder="Password"
                        required
                    /> {% endcomment %}
                    
                    <img
                        src="{% static '/favigen/img/icon-error.svg' %}"
                        alt="error-icon"
                        class="error-icon"
                    />
                    <p class="error-text">Password cannot be empty</p>
                </div>

                <div class="forget">
                    <!-- input content ends -->
                    <p class="text"><a href="#">Forget password?</a></p>
                </div>

                    {{signup_form.errors}}

                <button type="submit">Log In</button>

                <div class="details">
                    <hr />
                    <label class="alt_signup">Or sign in with</label>
                    <hr />
                </div>

                <!--social media icons-->
                <div class="social-icon">
                    <span>
                        <img src="{% static '/favigen/img/facebook.svg' %}" alt="facebook" />
                    </span>
                    <span>
                        <img src="{% static '/favigen/img/google.svg' %}" alt="google" />
                    </span>
                    <span>
                        <img src="{% static '/favigen/img/twitter.svg' %}" alt="twitter" />
                    </span>
                    
                    <!--      End Other the Division -->
                </div>

                    <!-- End Form -->
            </form>
            
        </div>

    </div>

</main>

{% endblock %}