{% extends 'favigen/base.html' %} 

{% load static %} 

{% block content %}

<main>
    <div class="container1">
        <!--left1 division-->
        <div class="left1">
            <!-- logo -->
            <a href="#">
                <div class="logo">
                    <!--<img src="{% static '/favigen/img/logo.svg' %}" width="30" class="d-inline-block align-top" alt="logo" />-->
                </div>
            </a>

            <p class="v8_79">FaviGen</p>
            <br />
            <div class="FaviGenContent">
                <span class="v8_80">A powerful yet easy to use Favicons generator for your Favicons</span>
            </div>

            <!--base image-->
            <img class="logo4" src="{% static '/favigen/img/logo 4.png' %}" />
            <p class="v8_81">Version 1.0</p>

            <!--left1 division end-->
        </div>

            <form action="{% url 'fav:login' %}" method="POST" name="login" id="signin">

                        
                            <!--   user name -->
                            <div class="wrap details">
                                <span class="input-item">
                                    <!-- <i class="fa fa-user-circle"></i> -->
                                </span>
                                <!--   user name Input-->
                                {{ login_form.email }}
                                {% comment %} <input
                                    class="form-input"
                                    id="txt-input"
                                    type="text"
                                    placeholder="Email"
                                    required
                                /> {% endcomment %}
                            </div>
                            <br />

                            <!--   Password -->
                            <div class="wrap">
                                <span class="input-item">
                                    <!-- <i class="fa fa-key"></i> -->
                                </span>

                                <!--   Password Input-->
                                {{ login_form.password }}
                                {% comment %} <input
                                    class="form-input"
                                    id="txt-input2"
                                    type="password"
                                    placeholder="Password"
                                    required
                                /> {% endcomment %}

                                <!--show/hide password  -->
                                <span class="input-item">
                                    <!-- <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i> -->
                                </span>
                            </div>
                            <p class="text">Forget password?</p>

                            <br />
                            <!--        buttons -->
                            <!--      button LogIn -->
                            <button type="submit">Log In</button>
                        
                        <!--   other items -->
                        <div class="other">
                            <!--      Forgot Password -->
                            <hr />
                            <span class="hr_text">Or login with</span>
                            <hr/>
                            <div class="icons">
                                <span class="shadow">
                                    <img src="{% static '/favigen/img/facebook.svg' %}" alt="facebook" />
                                </span>
                                <span class="shadow">
                                    <img src="{% static '/favigen/img/twitter.svg' %}" alt="twitter" />
                                </span>
                                <span class="shadow">
                                    <img src="{% static '/favigen/img/google.svg' %}" alt="google" />
                                </span>
                            </div>
                            <!--      End Other the Division -->
                        </div>

                        <!--   End Conrainer  -->

                    </div>

                    <!-- End Form -->
                </form>
            </div>
        </div>
    </div>

</main>

{% endblock %}