{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Saved Icon Page</title>
        <link href="{% static '/favigen/css/saved-icons.css' %}" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <main>
            <div class="container1">
                <div class="container2">
                    <div class="header">
                        <div class="logo">
                            <img src="img/faviGen_Logo.png" alt="logo" />
                        </div>
                        <div class="nav-menu">
                            <nav class="nav">
                                <a class="a" href="{% url 'fav:home' %}">Home</a>
                                <a class="a" href="{% url 'fav:contact' %}">Contact Us</a>
                                <a class="a" href="{% url 'fav:saved' %}">Saved Icons</a>
                                <a class="a" href="{% url 'fav:generated' %}">Generate</a>
                                {% if user.is_authenticated %}
                                    <a class="a" href="{% url 'fav:logout' %}">Log Out</a>
                                {% else %}
                                    <a class="a" href="{% url 'fav:login' %}">Sign In</a>
                                {% endif %}
                            </nav>
                        </div>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="generate">
                        <button class="btn_generate" type="submit">Generate</button>
                        <button class="btn_saved" type="submit">Saved Icons</button>
                    </div>

                    <div class="savedi">
                        <div class="savedi1">
                            <form action="#" method="get">
                                <button type="submit"><img src="img/search.png" alt="search" /></button>
                                <input type="text" placeholder="Search your saved icons" name="q" />
                            </form>
                        </div>
                        <div class="savedi2">
                            <h2 class="p1">Recent:</h2>
                            <img class="img1" src="{% static '/favigen/img/icon19.png' %}" alt="" />
                            <img class="img1" src="{% static '/favigen/img/icon20.png' %}" alt="" />
                            <img class="img1" src="{% static '/favigen/img/icon21.png' %}" alt="" />
                            <img class="img1" src="{% static '/favigen/img/icon22.png' %}" alt="" />
                            <img class="img1" src="{% static '/favigen/img/icon23.png' %}" alt="" />
                        </div>
                    </div>
                </div>

                <div class="container3">
                    <div>
                        <h1 class="h1" id="h1">Collections</h1>
                    </div>

                    <div class="icons">
                        <div class="icons1">
                            <h2 class="h2">Favourite Icons</h2>
                            <div class="parent1">
                                <div>
                                    <img class="img2" src="{% static '/favigen/img/icon1.png' %}" alt="" /><img
                                        class="img2"
                                        src="img/icon5.png"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon10.png' %}" alt="" /><img
                                        class="img2"
                                        src="{% static '/favigen/img/icon13.png' %}"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon18.png' %}" alt="" />
                                </div>
                                <div>
                                    <img class="img2" src="{% static '/favigen/img/icon5.png' %}" alt="" /><img
                                        class="img2"
                                        src="{% static '/favigen/img/icon6.png' %}"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon9.png' %}" alt="" /><img
                                        class="img2"
                                        src="{% static '/favigen/img/icon11.png' %}"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon14.png' %}" alt="" />
                                </div>
                            </div>
                            <b class="b">50 saved</b>
                        </div>

                        <div class="icons2">
                            <h2 class="h2">Brand Icons</h2>
                            <div class="parent2">
                                <div>
                                    <img class="img2" src="{% static '/favigen/img/icon16.png' %}" alt="" /><img
                                        class="img2"
                                        src="{% static '/favigen/img/icon7.png' %}"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon3.png' %}" alt="" /><img
                                        class="img2"
                                        src="{% static '/favigen/img/icon12.png' %}"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon1.png' %}" alt="" />
                                </div>
                                <div>
                                    <img class="img2" src="{% static '/favigen/img/icon12.png' %}" alt="" /><img
                                        class="img2"
                                        src="{% static '/favigen/img/icon13.png' %}"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon18.png' %}" alt="" /><img
                                        class="img2"
                                        src="{% static '/favigen/img/icon10.png' %}"
                                        alt=""
                                    /><img class="img2" src="{% static '/favigen/img/icon5.png' %}" alt="" />
                                </div>
                            </div>
                            <h2 class="h22">...</h2>
                        </div>
                    </div>

                    <div class="fav_icon">
                        <h2 class="h2">Favourite Icons</h2>
                        <div>
                            <img class="img2" src="{% static '/favigen/img/icon8.png' %}" alt="" /><img
                                class="img2"
                                src="{% static '/favigen/img/icon4.png' %}"
                                alt=""
                            /><img class="img2" src="{% static '/favigen/img/icon8.png' %}" alt="" /><img
                                class="img2"
                                src="{% static '/favigen/img/icon17.png' %}"
                                alt=""
                            /><img class="img2" src="{% static '/favigen/img/icon4.png' %}" alt="" /><img
                                class="img2"
                                src="{% static '/favigen/img/icon8.png' %}"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="{% static '/favigen/js/saved-icons.js' %}"></script>
    </body>
</html>

