{% extends 'favigen/base.html' %} 

{% load static %} 

{% block content %}

<!-- main body start-->
<main>
    <!-- container-->
    <div class="container1">
        <!--left1 division-->
        <div class="left1">
            <!-- logo -->
            <a href="#">
                <div class="logo">
                    <!--<img src="{% static '/favigen/img/logo.svg' %}" width="30" class="d-inline-block align-top" alt="logo" />-->
                </div>
            </a>

            <p class="v8_79">FaviGen</p>
            <br />
            <div class="FaviGenContent">
                <span class="v8_80">A powerful yet easy to use Favicons generator for your Favicons</span>
            </div>

            <!--base image-->
            <img class="logo4" src="{% static '/favigen/img/logo 4.png' %}" />
            <p class="v8_81">Version 1.0</p>

            <!--left1 division end-->
        </div>

        <!--right division-->
        <div class="right">
            <!--form begin-->
            <form action="{% url 'fav:signup' %}" method="POST" name="Userinfo" id="Userinfo">
                {% csrf_token %}
                
                <span class="v8_53"><a href="{% url 'fav:login' %}">Already have an accout? Log in</a> </span>
                <span class="v8_54">Sign up</span>

                <div class="details">

                    {{signup_form.first_name}}
                    {% comment %} <input type="text" id="firstName" name="first_name" placeholder="Full Name" /> {% endcomment %}
                    <img
                        src="{% static '/favigen/img/icon-error.svg' %}"
                        alt="error-icon"
                        class="error-icon"
                    />
                    <p class="error-text">First Name cannot be empty</p>
                </div>

                <div class="details">

                    {{signup_form.email}}

                    <img
                        src="{% static '/favigen/img/icon-error.svg' %}"
                        alt="error-icon"
                        class="error-icon"
                    />
                    <p class="error-text">Looks like this is not an email</p>
                </div>

                <div class="details">

                    {{signup_form.password1}}

                    <img
                        src="{% static '/favigen/img/icon-error.svg' %}"
                        alt="error-icon"
                        class="error-icon"
                    />
                    <p class="error-text">Password cannot be empty</p>
                </div>

                <div class="details">
                    
                    {{signup_form.password2}}

                    <img
                        src="{% static '/favigen/img/icon-error.svg' %}"
                        alt="error-icon"
                        class="error-icon"
                    />
                    <p class="error-text">Password cannot be empty</p>
                </div>

                <div class="details">
                    <input type="checkbox" id="remember" name="remember" value="Remember" />
                    <label class="remember">Remember me</label>
                </div>

                {{signup_form.errors}}

                <!--submit button-->
                <button type="submit">Get Started</button>

                <div class="details">
                    <hr />
                    <label class="alt_signup">Or sign up with</label>
                    <hr />
                </div>

                <!--social media icons-->
                <div class="social-icon">
                    <span>
                        <img src="{% static '/favigen/img/facebook.svg' %}" alt="facebook" />
                    </span>
                    <span>
                        <img src="{% static '/favigen/img/twitter.svg' %}" alt="twitter" />
                    </span>
                    <span>
                        <img src="{% static '/favigen/img/google.svg' %}" alt="google" />
                    </span>
                </div>

                <!--<span>
                        <a class="facebook" href="#" title="Link to FaviGen on Facebook" target="_blank">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </span>
                    <span>
                        <a class="Google_Account" href="#" title="Link to FaviGen Google Account " target="_blank">
                            <i class="fa fa-google fa-2x"></i>
                        </a>
                    </span>
                    <span>
                        <a class="twitter" href="#" title="Link to FaviGen on Twitter" target="_blank">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </span>-->

                <!--form end-->
            </form>

            <!--right division end-->
        </div>

        <!--container end-->
    </div>

    <!--main body end-->
</main>

{% endblock %}
