{% extends 'favigen/base.html' %}

{% block content %}

<h2>Upload Your File Here</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="title">
        <input type="text" name="title">
    </div>

    <div class="upload">
        <input type="file" name="document">
    </div>

    <div class="details">
        {% comment %} <input type="checkbox" id="favourite" name="favourite" value="Favourite" /> {% endcomment %}
        <input type="checkbox" id="favourite" name="favourite" value="Favourite" />
        <label class="embedded">Favourite</label>
    </div>
    <button type="submit">Generate</button>

</form>

{% if url_img %}
    <p>Uploaded file:
        <a href="{{ url_img }}">{{ url_img }}</a>
    </p>
{% endif %}

{% if url_zip %}
    <p>Uploaded file: 
        {% for url in url_zip %}
            <a href="{{ url.zipped_favs.url }}" download>{{ url.zipped_favs.url }}</a>
        {% endfor %}
    </p>
{% endif %}

{% endblock %}