
  
  /* styling for login page  */

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */
  }
  
  body {
    font-family: montserrat;
  }

  
  /* styling for login page  */

  .container {
    height:100vh;
    width:100vw;
    display: flex;
  }

  .container__wrapper__one {
    flex: .40;
    background-color:#2D1D90;
    display: grid;
    place-items: center;
    position: relative;
    

  }

  .container__wrapper__two {
    flex: .60;
  }


.parent {
  position: relative;
  top: 60px;
}
 

  .child {
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    height: 150px;
    font-weight: 300;
    font-size: 20px;
    display: grid;
    place-items: center;
  }


  .child1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 25px;
    display: grid;
    place-items: center;
    color: white;
  }

  .child2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-items: center;
    width: 270px;
    margin: auto;
    margin-top: -150px;
  }

  h5 {
    margin-right: 40px;
    margin-top: 40px;
    opacity: 0.4;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    color:#000000;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 29px; text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }



  .show{
   position: absolute;
   bottom: 0px;
   right: 10px;
  }




  /** Media Queries **/
@media screen and (max-width: 768px) {
 
  .container__wrapper__one {
    flex: .1;
    background-color:#2D1D90;
    display: grid;
    place-items: center;
  }

  .container__wrapper__two {
    flex: .9;
  }


}

@media screen and (max-width: 500px) {
 
}