* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-size: 14px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container > div {
    width: 50%;
  }
  .left{
    background: rgba(180,178,178,1);
    padding-top: 100px;
}
.right{
    padding-top: 100px;
}
.right .form{
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px hsla(249, 10%, 26%, 0.5);
}
#firstName, #email, #password {
    width: 60%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid hsl(246, 25%, 77%);
    padding-left: 20px;
    outline: none;
    background-color: aliceblue;
    color: hsl(249, 10%, 26%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
#remember{
    margin-left: -40%;
    border-radius: 8px;
    border: 1px solid hsl(246, 25%, 77%);
    outline: none;
    background-color: aliceblue;
    cursor: pointer;
}
label {
    color: hsl(249, 10%, 26%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
hr {
    width: 100px;
    display: inline-block;
    margin: 8px;
}
.right input:focus{
    border: 1.5px solid hsl(249, 10%, 26%);
}
.right input::placeholder{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.details{
    position: relative;
    margin-bottom: 15px;
}
.logo {
    width: 214px;
    height: 214px;
    background: url("assets/images/faviGen_Logo.png") #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: fit-content;
    opacity: 1;
    top: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .v8_79 {
    color: rgba(0,0,0,1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
  }
  .v8_80, .v8_81 {
    color: rgba(0,0,0,1);
  }
  .v8_80 {
    font-family: Inter;
    font-weight: Light;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_81 {
    padding-left: 20px;
    padding-top: 180px;
    font-family: Inter;
    font-weight: Light;
    font-size: 24px;
    text-align: left;
  }
  .v8_53 {
    color: rgba(0,0,0,1);
    position: absolute;
    top: 64px;
    right: 20px;
    font-family: Inter;
    font-weight: Light;
    font-size: 20px;
    opacity: 0.4000000059604645;
    text-align: left;
  }
  .v8_54 {
    text-align: center;
    position: relative;
    top: -10px;
    color: rgba(0,0,0,1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 35px;
  }
  .right button[type="submit"]{
    width: 60%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid hsl(246, 25%, 77%);
    padding-left: 20px;
    outline: none;
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 3px rgba(255,255,255,0.5);
}

span{
    margin: 20px;
}
.social-icon {
    margin: 30px;
    padding-top: 15px;
    display: block;
}


  .error-text, .error-icon{
    display: none;
}

.details.error .error-text,
.details.error .error-icon{
    display: block;
}

.details.error input{
    border: 2px solid hsl(0, 100%, 74%);
}
.error-icon{
    position: absolute;
    top: 28%;
    right: 150px;
}

.error-text{
    position: relative;
    left: 130px;
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    color: hsl(0, 100%, 74%);
}


@media screen and (max-width: 900px){
    .container{
        flex-direction: column;
    }
    .container > div {
        width: 100%;
      }
    
    .v8_53 {
        top: 115%;
        right: 0.25%;
        font-size: 16px;
    }
    .v8_54 {
        top: 90px;
    }
    .details{
        top: 100px;
    }
    .right button[type="submit"]{
        position: relative;
        top: 100px;
    }

    .left{
        padding-right: 70px;
    }

    .right{
        padding: 0px 10px;
    }

    .right input::placeholder{
        font-size: 14px;
    }
    .social-icon {
        margin: 100px;
        padding-top: 50px;
        display: block;
    }
    #remember{
        margin-left: -30%;
    }
    hr {
        width: 90px;
    }
}