<footer class="bg-purple text-white p-3">
    <div class="d-flex justify-content-around">
        <div class="col-3">
            <img src="./assets/logo_footer.svg" class="d-inline-block align-top" alt="logo" />
        </div>
        <div class="col-4 my-auto">
            <h5>About</h5>
            <p>A team of developers and project designers trained by ZURI designed FaviGen.</p>
        </div>
        <div class="d-flex flex-column my-auto px-5 justify-content-around">
            <a class="nav-link py-2" href="/">Home</a>
            <a class="nav-link py-2" href="/contact-us">Contact Us</a>
            <a class="nav-link py-2" href="/saved-icons">Saved Icons</a>
            <a class="nav-link py-2" href="/sign-up">Sign Up</a>
        </div>
    </div>
    <div class="text-center">
        <p>Created by; Zuri Project-FavGen-Team 63</p>
        <p>Copyright 2022</p>
    </div>
</footer>
