/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
}

body {
  font-family: montserrat;
}

nav {
  background: gold;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav label {
  color: white;
  font-size: 35px;
  line-height: 70px;
  padding: 0 50px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,
a:hover {
  background: goldenrod;
  transition: 0.5s;
}

.menu-icon {
    font-size: 0px;
}

footer {
  position: fixed;
  bottom: 0px;
  background: rgb(48, 48, 48);
  height: 70px;
  width: 100%;
  color: aliceblue;
  text-align: center;
  bottom: 0;
  padding-top: 25px;
}

.about {
  width: 100%;
  min-height: 86vh;
  background-color: #161922;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  width: 1440px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}


main li {
    font-size: 14px;
    font-style: italic;
}

img {
  height: auto;
  width: 600px;
  max-width: 100%;
}

.bio {
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-areas: 
  'a a'
  'b c'
  'd d';
  grid-template-columns: 1fr 1fr;
}

.bio h2 {
  font-size: 85px;
  color: gold;
  margin-bottom: 20px;
}

.proprities ul {
    list-style-type: square;
}

.bio p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.bio * {
  padding-bottom: 9px;
}

.intro {
  grid-area: a;
}

.proprities {
  grid-area: b;
}

.skills {
  grid-area: c;
}

.hobbies {
  grid-area: d;
}

main a {
  background-color: gold;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 9px;
  width: 200px;
  text-align: center;
}

main a:hover {
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid gold;
    color: white;
    transition: .3s;
}


@media screen and (max-width:500px) {
    nav {
        height: auto;
    }

    nav ul li {
        display: grid;
        line-height: 30px;
    }

    .menu-icon {
        font-size: 2.1em;
        color: black;
        line-height: 50px;
        padding: 0 20px;
    }

    .bio h2 {
        font-size: 60px;
    }
}