{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'main/home.css' %}">
  </head>
  <body>
    <header class="menu">
      <div class="menu-wrap">
        <!-- <label for="">Cofucan</label> -->
        <nav>
          <ul>
            <li><a class="active" href="index.html">About Me</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="registration.html">Sign Up</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
          <i class="fa fa-bars menu-icon"></i>
        </nav>
      </div>
    </header>
    <section class="about">
      <main>
        <div class="image"><img src="Myself.png" alt="My Photo" /></div>
        <div class="bio">
          <div class="intro">
            <h2>Uche Ofia</h2>
            <p>
              I am a Data Analyst and Web Developer. I am very passionate about tech and solving problems.
            </p>
          </div>

          <div class="priorities">
            <p>My main priorities are:</p>
            <ul>
              <li>Develop myself</li>
              <li>Create solutions</li>
              <li>Solve problems</li>
            </ul>
          </div>

          <div class="skills">
            <p>My soft skills include:</p>
            <ol class="skill_list">
              <li>Data Analysis</li>
              <li>Web Development</li>
              <li>3D Graphics</li>
            </ol>
          </div>

          <div class="hobbies">
            <p>Some of my hobbies include:</p>
            <ul class="hobby_list">
              <li>Video games</li>
              <li>Making Research</li>
              <li>Reading articles</li>
            </ul>
          </div>
          <a href="contact.html">Contact Me</a>
        </div>
      </main>
    </section>
    <div>
      <footer>© 2022 | Powered by Cofucan</footer>
    </div>
  </body>
</html>
