* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: white;
    font-family: "Manrope", sans-serif;
}
li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4a90e2;
    color: white;
    border-radius: 3px;
    transition: 0.3s ease;
}
.menu li {
    padding: 3px 5px;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
li,
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 6%;
}

.nav-logo {
    cursor: pointer;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: block;
    padding: 20px 20px;
    margin-top: 5px;
}

.container {
    display: flex;
    padding: 20px 6%;
    width: 100%;
}
.container-left {
    background-color: #2d1d90;
    flex-basis: 50%;
    color: #ffffff;
    padding: 4%;
    border-radius: 5px;
}
.container-left h2 {
    margin-bottom: 20px;
}
.container-left p {
    line-height: 25px;
}
.second {
    text-align: center;
    margin-top: 20px;
}
.second p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.socials {
    width: 90%;
}
.container-right {
    margin-left: 7%;
    margin-top: 3%;
    color: #666666;
    flex-basis: 50%;
}
textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    resize: none;
    width: 100%;
    border-radius: 5px;
    border-style: groove;
    font-size: large;
}

input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: groove;
    font-size: large;
}
.option {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    height: 30px;
    border-radius: 5px;
    border-style: groove;
}
button {
    width: 25%;
    float: right;
    background-color: #2d1d90;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

label {
    display: block;
}
.logo {
    float: right;
    margin-right: -5%;
    margin-top: 10%;
    width: 40%;
}
.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

@media (max-width: 1000px) {
    button {
        width: 35%;
    }
    .socials {
        width: 70%;
    }
}
@media (max-width: 900px) {
    .second {
        margin-right: 5%;
    }
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #2d1d90;
        right: 0;
        text-align: center;
        padding: 0px 10px;
    }
    .menu a {
        color: #fff;
    }
    .menu li:hover {
        display: block;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
        display: block;
    }
    input[type="checkbox"]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .navbar {
        justify-content: right;
    }
}
@media (max-width: 740px) {
    .container {
        flex-direction: column;
    }
    .container-left {
        width: 100%;
    }
    .container-right {
        margin-left: 0%;
    }
}
