* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: white;
}

.container2 {
    background-image: url("../../../static/favigen/img/bg_header2.png");
    background-size: 2000px;
    position: relative;
    height: 20em;
    background-repeat: no-repeat;
    background-position: bottom;
}

.nav-link {
    color: #fff;
}
.active {
    color: #0aecfb !important;
}
.user-dropdown {
    top: 30px;
    right: 50px;
    width: 15em;
    border-radius: 5px;
    border: 1px solid #2d1d90;
}
.user-dropdown > ul {
    list-style: none;
}
.user-dropdown > ul > li > a {
    text-decoration: none;
    color: #000;
}
.user-dropdown > ul > li > a:hover {
    color: #2d1d90;
}

.generate {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.generate a {
    text-decoration: none;
    cursor: pointer;
}

.generate a > button:hover {
    font-size: large;
}
.btn_generate {
    padding: 12px 50px;
    font-size: 16px;
    font-weight: 400;
    border-width: 1px;
    background-color: white;
    color: black;
}

.btn_saved {
    border-radius: 50px 0 0 50px;
    padding: 14px 50px;
    font-size: 16px;
    font-weight: 400;
    margin-left: -20px;
    border: none;
    background-color: #2d1d90;
    border: 1px solid rgb(202, 201, 201);
    color: rgb(202, 201, 201);
}

.form {
    position: relative;
    z-index: 1;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 900px;
    color: white;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 35px;
}

.title label {
    margin-right: 5px;
}

.title input {
    width: 640px;
    border-radius: 6px;
    border: 1px solid rgb(202, 201, 201);
    background-color: transparent;
    color: white;
    padding: 5px;
}

.upload-file {
    background-color: #5C85A3;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    margin-bottom: 25px;
}

.upload-file img {
    padding: 25px;
}

.upload-btn {
    margin-bottom: 20px;
}

.text-input-container {
    width: 100%;
    /* margin-bottom: 20px; */
}

.text-input {
    border-radius: 7px;
    border: 2px dotted grey;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    height: 50px;
}

.text-input::placeholder {
    padding-left: 20px;
}

.details {
    /* background-color: #0aecfb; */
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.details input {
    width: 40px;
}

.details label {
    color: black;
    padding-left: 10px;
}

.gen-btn {
    display: flex;
    justify-content: right;
}

.gen-btn button {
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
    background-color: #2d1d90;
    color: white;
}

.links {
    background-color: #2d1d90;
}