* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: white;
}

.container2 {
  background-image: url("../../../static/favigen/img/bg_header2.png");
  background-position: bottom;
  position: relative;
  height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link {
  color: #fff;
}
.active {
  color: #0aecfb !important;
}
.user-dropdown {
  top: 30px;
  right: 50px;
  width: 15em;
  border-radius: 5px;
  border: 1px solid #2d1d90;
}
.user-dropdown > ul {
  list-style: none;
}
.user-dropdown > ul > li > a {
  text-decoration: none;
  color: #000;
}
.user-dropdown > ul > li > a:hover {
  color: #2d1d90;
}

.generate2{
  margin-top: 60px;
  margin-left: 30%;
  align-items: center;
  position: relative;
}

.btn_generate2{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
  border-radius: 0 50px 50px 0;
  border: none;
  position: absolute;
  left: 100px;
  width: 30%;
  font-size: 16px;
  font-weight: 400;
}

.btn_generate2 a {
  text-decoration: none;
  color: black;
}

.btn_generate2 a:hover {
  color: rgb(177, 171, 214);
  cursor: pointer;
}

.btn_saved2{
  margin-left: 12%;
  width: 30%;
  padding: 8px 50px;
  border: 1px solid rgb(102,115,124);
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
}

.btn_saved2 a {
  text-decoration: none;
  color: black;
}

.btn_saved2 a:hover {
  color: rgb(177, 171, 214);
  cursor: pointer;
}

.git1 {
  display: flex;
  width: 55%;
  height: 220px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  position: absolute;
  bottom: -100px;
  left: 22%;
  border: 2px dashed rgb(84, 69, 13);
  padding: 15px;
}

#fa {
  color: rgb(252, 109, 38);
  width: 50%;
  font-size: 200px;
  padding-left: 60px;
}

.git1_p {
  width: 50%;
  color: rgb(140, 146, 157);
  font-size: 120px;
  font-weight: 400;
}

.emb_code {
  height: 350px;
  margin-top: 145px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22%;
  padding-right: 22%;
}

.emb_code1 {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.emb_code2 {
  border: 2px dashed rgb(104, 104, 104);
  padding: 8px 15px;
  margin-bottom: 25px;
  height: 100px;
}

.emb_code3 {
  background-color: rgb(31, 159, 211);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-left: 666px;
  font-size: 16px;
  font-weight: 400;
}

/* Media Queries  */
@media screen and (max-width: 768px) {
  .container2 {
    background-size: cover;
    height: 90vh;
  }

  .generate2 {
    margin-top: 50px;
    margin-left: 180px;
    width: 100%;
  }

  .savedi {
    display: block;
  }

  .savedi1 form {
    margin: auto;
    padding-right: 50px;
    margin-bottom: 10px;
  }

  .savedi2 {
    margin: auto;
    padding-left: 150px;
  }

  #h1 {
    padding-top: 45px;
  }

  .icons {
    display: block;
  }

  .icons2 {
    margin-top: 30px;
  }

  .h22 {
    font-size: 50px;
    font-weight: 500;
    padding-left: 493px;
  }

  #fa {
    color: rgb(252, 109, 38);
    width: 50%;
    font-size: 100px;
  }

  .git1_p {
    width: 50%;
    color: rgb(140, 146, 157);
    font-size: 60px;
    font-weight: 200;
    padding-right: 30px;
  }

  .git1 {
    padding-top: 50px;
    padding-right: 30px;
    height: 180px;
  }

  .btn_generate2 {
    left: 50px;
  }

  .emb_code2 {
    height: auto;
  }
}

@media screen and (min-width: 1030px) and (max-width: 1366px) {
  #fa {
    color: rgb(252, 109, 38);
    width: 50%;
    font-size: 180px;
    padding-left: 60px;
  }

  .git1_p {
    width: 50%;
    color: rgb(140, 146, 157);
    font-size: 80px;
    font-weight: 400;
    padding-top: 30px;
  }

  .emb_code3 {
    margin-left: 650px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #fa {
    color: rgb(252, 109, 38);
    width: 50%;
    font-size: 120px;
    padding-left: 20px;
    margin: auto;
  }

  .git1_p {
    width: 50%;
    color: rgb(140, 146, 157);
    font-size: 60px;
    font-weight: 400;
    margin: auto;
  }

  .emb_code2 {
    height: 140px;
  }

  .generate2 {
    margin-top: 90px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container2 {
    background-size: cover;
    height: 90vh;
  }

  .generate2 {
    margin-top: 120px;
  }

  .emb_code2 {
    height: auto;
  }

  .git1 {
    height: auto;
  }

  .emb_code3 {
    margin-left: 140px;
  }

  #fa {
    color: rgb(252, 109, 38);
    width: 50%;
    font-size: 50px;
    padding-left: 10px;
    margin: auto;
  }

  .git1_p {
    width: 50%;
    color: rgb(140, 146, 157);
    font-size: 30px;
    font-weight: 400;
    margin: auto;
  }

  .emb_code2 {
    height: auto;
  }
}
@media screen and (min-width: 360px) and (max-width: 640px) {
  .git1 {
    height: auto;
  }

  .emb_code2 {
    height: auto;
  }

  #fa {
    color: rgb(252, 109, 38);
    width: 50%;
    font-size: 75px;
    padding-left: 20px;
    margin: auto;
  }

  .git1_p {
    width: 50%;
    color: rgb(140, 146, 157);
    font-size: 50px;
    font-weight: 400;
    margin: auto;
  }

  .emb_code3 {
    margin-left: 250px;
  }
}

@media (min-width: 840px) and (max-width: 1024px) {
  .container2 {
    background-size: cover;
  }
}

@media (min-width: 760px) and (max-width: 840px) {
  .container2 {
    background-size: cover;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container2 {
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .container2 {
    background-size: cover;
  }
}

@media (max-width: 1135px){
  .emb_code3 {
    margin-left: 540px;
  }

  .generate2{
    padding-bottom: 20px;
  }
}

@media (max-width: 1080px){
  .emb_code3 {
    margin-left: 500px;
  } 
}

@media (max-width: 1090px){
  .emb_code3 {
    margin-left: 510px;
  } 
}

@media (max-width: 950px){
  .emb_code3 {
    margin-left: 440px;
  } 
}

