/* styling for login page  */

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */
}

body {
    font-family: montserrat;
}

.container1 > .login_right {
    width: 60%;
}
.login_right {
    padding-top: 50px;
}
.login_right .form {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px hsla(249, 10%, 26%, 0.5);
}
.login_right input:focus {
    border: 1.5px solid hsl(249, 10%, 26%);
}
.login_right input::placeholder {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.login_right button[type="submit"] {
    width: 70%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #2d1d90;
    padding-left: 20px;
    outline: none;
    background-color: #2d1d90;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 3px rgba(255, 255, 255, 0.5);
}


/* styling for login page  */

/* .container {
    height: 100vh;
    width: 100vw;
    display: flex;
} */

/* .container__wrapper__one {
    flex: 0.4;
    background-color: #2d1d90;
    display: grid;
    place-items: center;
    position: relative;
}

.container__wrapper__two {
    flex: 0.6;
}

.parent {
    position: relative;
    top: 60px;
}

.child {
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    width: 150px;
    height: 150px;
    font-weight: 300;
    font-size: 20px;
    display: grid;
    place-items: center;
}

.child1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 25px;
    display: grid;
    place-items: center;
    color: white;
}

.child2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    align-items: center;
    width: 270px;
    margin: auto;
    margin-top: -150px;
} */

h5 {
    top: -100px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

/* .show {
    position: absolute;
    bottom: 0px;
    right: 10px;
} */

/* .parent2 {
    display: flex;

    justify-content: flex-start;
    height: 100vh;
    width: 70%;
    flex-direction: column;
} */

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
}

.login_container {
    display: grid;
    place-items: center;
}

/* .login_container > form {
    width: 35vw;
    margin-top: 100px;
    text-align: center;
} */

.log {
    color: #2d1d90;
}

.form-input {
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
    outline: 0;
}

.text {
    text-align: end;
    color: #2d1d90;
    opacity: 0.5;
    margin-top: 20px;
}

/* .log-in {
    background-color: #2d1d90;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    width: 70%;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
} */

.other {
    position: relative;
    top: 70px;
}

/* .hr_text {
    position: absolute;
    top: -10px;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    left: 40%;
    color: #2d1d90;
} */

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(110, 110, 246);
    border-radius: 8px;
    padding-left: 10px;
}

/* .input-item{
  padding:2px 10px;
} */

.icons {
    margin: 55px auto;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.shadow {
    box-shadow: 6px 4px 27px rgba(3, 6, 74, 0.25);
    border-radius: 40px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

/* .parent2 {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    flex-direction: column;
} */

/* h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
} */

/* .login_container {
    display: grid;
    place-items: center;
}

.login_container > form {
    width: 35vw;
    margin-top: 100px;
    text-align: center;
} */

.log {
    color: #2d1d90;
}

/* .form-input {
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
    outline: 0;
} */

.text {
    text-align: end;
    color: #2d1d90;
    opacity: 0.5;
    margin-top: 20px;
}

.log-in {
    background-color: #2d1d90;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    width: 70%;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
}

.other {
    position: relative;
    top: 70px;
}

/* .hr_text {
    position: absolute;
    top: -10px;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    left: 40%;
    color: #2d1d90;
} */

/* .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(110, 110, 246);
    border-radius: 8px;
    padding-left: 10px;
} */

/* .input-item{
  padding:2px 10px;
} */

.icons {
    margin: 55px auto;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

/* .shadow {
    box-shadow: 6px 4px 27px rgba(3, 6, 74, 0.25);
    border-radius: 40px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
} */

/** Media Queries **/
@media screen and (max-width: 768px) {
    .container__wrapper__one {
        flex: 0.5;
        background-color: #2d1d90;
        display: grid;
        place-items: center;
    }

    .container__wrapper__two {
        flex: 0.5;
    }

    .hr_text {
        position: absolute;
        top: -10px;
        background-color: white;
        padding-right: 20px;
        padding-left: 20px;
        left: 33%;
        color: #2d1d90;
    }
}

@media screen and (max-width: 500px) {
    .display {
        opacity: 0.3;
        position: relative;
        right: 120px;
    }
    .container {
        height: 100vh;
        width: 100vw;
        display: grid;
    }
    .login_container > form {
        width: 90vw;
    }
}
